@import "tailwindcss";

:root {
  --primary-color: #3b82f6; /* Default Blue */
  --secondary-color: #e5e7eb; /* Default Gray */
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}
